In [1]:
import pandas as pd
import numpy as np
from scipy.stats import mstats
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Getting the data from csv file to pandas dataframe
df = pd.read_csv('heart.csv')

<b>Check for missing values</b>

In [3]:
# Count the number of NaN values in each column
print(df.isnull().sum())

hr        0
bp        0
pkhr      0
sbp       0
mphr      0
age       0
baseef    0
gender    0
dtype: int64

In [4]:
df.isnull().values.any()

False

In [5]:
df.describe()

,hr,bp,pkhr,sbp,mphr,age,baseef,gender
count,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000
mean,75.290323,135.324373,120.550179,146.915771,78.569892,67.344086,55.603943,0.605735
std,15.415197,20.770106,22.567835,36.529544,15.121101,12.049415,10.321534,0.489131
min,42.000000,85.000000,52.000000,40.000000,38.000000,26.000000,20.000000,0.000000
25%,64.000000,120.000000,106.250000,120.000000,69.000000,60.000000,52.000000,0.000000
50%,74.000000,133.000000,122.000000,141.000000,78.000000,69.000000,57.000000,1.000000
75%,84.000000,150.000000,135.000000,170.000000,88.000000,75.000000,62.000000,1.000000
max,210.000000,203.000000,210.000000,309.000000,133.000000,93.000000,83.000000,1.000000

In [6]:
z, pval = mstats.normaltest(df)

#Using the confidence value as 95% 
if(pval.all() < 0.05):
    print('Not normal distribution')
else:
    print('normal distribution')

Not normal distribution

In [7]:
# Reading the target variable into y and removing it from original dataframe
print(df.head(5))

y = df['gender']
del(df['gender'])

print(y.head(5))
print(df.head(5))

   hr   bp  pkhr  sbp  mphr  age  baseef  gender
0  92  103   114   86    74   85      27       0
1  62  139   120  158    82   73      39       0
2  62  139   120  157    82   73      39       0
3  93  118   118  105    72   57      42       1
4  89  103   129  173    69   34      45       0
0    0
1    0
2    0
3    1
4    0
Name: gender, dtype: int64
   hr   bp  pkhr  sbp  mphr  age  baseef
0  92  103   114   86    74   85      27
1  62  139   120  158    82   73      39
2  62  139   120  157    82   73      39
3  93  118   118  105    72   57      42
4  89  103   129  173    69   34      45

In [8]:
scalar = MinMaxScaler()
scalar.fit(df)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
scaled_data = scalar.transform(df)
scaled_data

array([[0.29761905, 0.15254237, 0.39240506, ..., 0.37894737, 0.88059701,
        0.11111111],
       [0.11904762, 0.45762712, 0.43037975, ..., 0.46315789, 0.70149254,
        0.3015873 ],
       [0.11904762, 0.45762712, 0.43037975, ..., 0.46315789, 0.70149254,
        0.3015873 ],
       ...,
       [0.21428571, 0.12711864, 0.44936709, ..., 0.4       , 0.56716418,
        0.50793651],
       [0.10119048, 0.38135593, 0.34810127, ..., 0.34736842, 0.65671642,
        0.73015873],
       [0.33333333, 0.46610169, 0.68987342, ..., 0.6       , 0.44776119,
        0.6984127 ]])

In [10]:
for i in range(1, df.shape[1]+1):
    pca = PCA(n_components=i)
    pca.fit(scaled_data)
    print(sum(pca.explained_variance_ratio_))

0.2902725482447443
0.526595297177683
0.714635228837625
0.8805645115655093
0.9617687348824142
0.9941390902838548
1.0

Therefore after applying PCA we can see that one variable can be removed as rest are capturing approximately 99% of the variance. 
Hence we are considering 6 features for our analysis.

In [11]:
pca = PCA(n_components = 6)
pca.fit(scaled_data)

PCA(copy=True, iterated_power='auto', n_components=6, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [12]:
x_pca = pca.transform(scaled_data)

In [13]:
scaled_data.shape

(558, 7)

In [14]:
x_pca.shape

(558, 6)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x_pca, y, test_size = 0.1, random_state = 123)

In [16]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
predicted = logreg.predict(X_test)
print(metrics.accuracy_score(y_test, predicted)) 
print(classification_report(y_test, predicted))

0.6071428571428571
              precision    recall  f1-score   support

           0       0.50      0.18      0.27        22
           1       0.62      0.88      0.73        34

   micro avg       0.61      0.61      0.61        56
   macro avg       0.56      0.53      0.50        56
weighted avg       0.58      0.61      0.55        56